:root {
  /* largeur de la carte */
  --card-width: 75mm;

  /* hauteur de la carte */
  --card-height: 125mm;

  /* bordure de la carte */
  --card-border: 1px solid rgba(0, 0, 0, 0.3);

  /* marges pour les bords en couleur et entre les zones de la carte */
  --card-spacing: 5mm;

  /* Dans l'ordre, hauteurs de: type de carte / titre / image / texte résumé / pied de page (pictos, qrcode)*/
  --card-recto-zone-height: 5mm 20mm 50mm 20mm 20mm;

  /* Dans l'ordre, hauteurs de: type de carte / titre / texte long / pied de page (pictos, qrcode)*/
  --card-verso-zone-height: 5mm 20mm 70mm 20mm;

  /* typo type de la carte (en haut à droite) */
  --type-font-family: tahoma,sans-serif;
  --type-font-size: 10px;
  --type-color: #222;
  --type-text-transform: uppercase;  

  /* typo titre de la carte */
  --title-font-family: garamond,serif;
  --title-font-size: 24px;
  --title-color: #222;
  --title-text-transform: uppercase;

  /* typo texte recto de la carte */
  --text-font-family: tahoma,sans-serif;
  --text-font-size: 16px;
  --text-color: #222;

  /* typo texte verso de la carte */
  --longtext-font-family: tahoma,sans-serif;
  --longtext-font-size: 16px;
  --longtext-color: #222;

  /* typo lien pied de page de la carte */
  --link-font-family: tahoma,sans-serif;
  --link-font-size: 10px;
  --link-color: #222;

  /* typo texte pictos pied de page de la carte */
  --picto-font-family: tahoma,sans-serif;
  --picto-font-size: 8px;
  --picto-color: #222;
}

.page-qrcard {
  background-color: transparent;
  width: 100%;
  display: flex;
  padding: 1em 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1em;
}

.qrcard-to-print {
  display: flex;
}

.qrcard {
  line-height: 1.1em;
  border: var(--card-border);
  width: var(--card-width);
  height: var(--card-height);
  padding: var(--card-spacing);
  display: grid;
  grid-gap: 0;
  align-content: start;
  grid-template-columns: 1fr;
}
.qrcard.front {
  grid-template-rows: var(--card-recto-zone-height);
}

.qrcard.back {
  grid-template-rows: var(--card-verso-zone-height);
}

.qrcard-header {
  display: flex;
  justify-content: space-between;
}
.complexity {
  font-size: 8px;
  width: 10mm;
  margin-right: 2mm;
}
.card-type {
  font-family: var(--type-font-family);
  font-size: var(--type-font-size);
  color: var(--type-color);
  text-transform: var(--type-text-transform);
}

.qrcard-title {
  text-align: center;
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  color: var(--title-color);
  text-transform: var(--title-text-transform);
  margin: 0;
  display: flex;
  width: 100%;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.qrcard-image {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0;
  overflow: hidden;
  width: 100%;
}
.qrcard-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 0;
}

.qrcard-text {
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  color: var(--text-color);
  text-align: center;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: white !important;
}

.qrcard-footer {
  margin-top: var(--card-spacing);
  background: white !important;
  padding: 2mm;
  display: flex;
  justify-content: space-around;
}

.boite1,
.boite2,
.boite3,
.qrcode {
  width: 12mm;
  text-align: center;
  font-family: var(--picto-font-family);
  font-size: var(--picto-font-size);
  color: var(--picto-color);
}
.mini-picto img {
  max-width: 30px;
  margin-bottom: 2px;
}
.mini-text {
  text-transform: uppercase;
  line-height: 1em;
  word-break: break-word;
}

.link {
  width: 39mm;
  text-align: center;
  position: relative;
  line-height: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.card-link {
  word-break: break-word;
  padding: 0;
  line-height: 0.9em;
  font-family: var(--link-font-family);
  font-size: var(--link-font-size);
  color: var(--link-color);
  margin: 0;
}

/*QR code parameters */
.qrcode,
.qrcode img {
  width: 13mm;
}
.qrcode {
  margin: -1mm -1mm -1mm 1mm;
}

.logo-cc {
  width: 8mm;
  opacity: 0.85;
  position: absolute;
  bottom: 0mm;
  left: 16mm;
}

.logo {
  width: 10mm;
}

/* flip */
.flip-container {
  perspective: 1000;
  transform-style: preserve-3d;
}

.flip-container:hover .back,
.flip-container.hover .back {
  transform: rotateY(0deg);
}

.flip-container:hover .front,
.flip-container.hover .front {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: var(--card-width);
  height: var(--card-height);
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flipper .front,
.flipper .back {
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}

.flipper .front {
  z-index: 2;
}

.flipper .back {
  transform: rotateY(-180deg);
}

/* vertical */
.vertical.flip-container {
  position: relative;
}

.vertical .back {
  transform: rotateX(180deg);
}

.vertical.flip-container .flipper {
  transform-origin: 100% 213.5px;
}

.vertical.flip-container:hover .back,
.vertical.flip-container.hover .back {
  transform: rotateX(0deg);
}

.vertical.flip-container:hover .front,
.vertical.flip-container.hover .front {
  transform: rotateX(180deg);
}

.card-actions {
  margin-top: 115mm;
  opacity: 0;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
}
.bazar-entry:hover .card-actions {
  margin-top: 126mm;
  opacity: 1;
}

.qrcard-main-content {
  display: flex;
  padding: 1mm;
  background: white !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  font-family: var(--longtext-font-family);
  font-size: var(--longtext-font-size);
  color: var(--longtext-color);
  text-align: left;
  overflow: hidden;
}
.page-qrcard img {
  border-radius: 0;
}
.page-qrcard.print .back {
  border-left: none;
}


.page-qrcard.print.monochrome {
  filter: grayscale(100) !important;
}
.page-qrcard.print.monochrome .qrcard {
  background-color: transparent !important;
}

.btn-group-qrcards {
  margin-top: 1em;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
}

/* hide yeswiki interface in print mode, and do some tweaks */
@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    overflow: visible;
  }
  a[href]::after {
    content: none;
  }
  .footer,
  #yw-topnav,
  #yw-header,
  #yw-footer,
  .debug,
  .no-print {
    display: none;
  }
  #yw-main {
    padding: 0;
  }
  .page-qrcard {
    display: block;
    padding: 0;
    gap: 0;
  }
  .qrcard-to-print {
    break-inside: avoid;
  }
  .page-qrcard.print:not(:first-child) .front,
  .page-qrcard.print:not(:first-child) .back {
    border-top: none;
  }
  /* .qrcard-to-print:nth-child(3n) {
    page-break-before: always;
    break-before: page;
  } */
  /* .qrcard-to-print:nth-child(3n)::before {
    display: block;
    content:'';
    page-break-before: always;
    break-before: always;
  } */
}
